<div
  class="w-100 loginScreen"
  style="display: grid; justify-content: center; align-items: center"
>
  <form
    [formGroup]="ResetPassWordForm"
    class="form mt-4"
    (submit)="resetPassword()"
    style="
      background-color: #ebebee;
      padding: 25px;
      border-radius: 10px;
      border-top: solid 5px #0d6efd;
    "
  >
    <h4 class="text-center mb-4">Alterar senha</h4>

    <div class="form-group mb-5">
      <div class="d-flex">
        <input
          formControlName="password"
          placeholder="Senha"
          type="{{ showPassword ? 'text' : 'password' }}"
          class="form-control"
        />
        <div
          style="margin: auto; margin-left: 5px"
          (click)="showPassword = !showPassword"
        >
          <div *ngIf="showPassword">
            <i class="fa-solid fa-eye-slash"></i>
          </div>
          <div *ngIf="!showPassword">
            <i class="fa-solid fa-eye"></i>
          </div>
        </div>
      </div>
      <small
        *ngIf="ResetPassWordForm.get('password')?.errors?.['required']"
        class="text-danger d-block position-absolute"
      >
        Senha é obrigatoria!
      </small>
    </div>

    <div class="form-group mb-5">
      <div class="d-flex">
        <input
          formControlName="rePassword"
          type="{{ showRePassword ? 'text' : 'password' }}"
          placeholder="Confirmação de Senha"
          class="form-control"
        />
        <div
          style="margin: auto; margin-left: 5px"
          (click)="showRePassword = !showRePassword"
        >
          <div *ngIf="showRePassword">
            <i class="fa-solid fa-eye-slash"></i>
          </div>
          <div *ngIf="!showRePassword">
            <i class="fa-solid fa-eye"></i>
          </div>
        </div>
      </div>
      <small
        *ngIf="ResetPassWordForm.get('rePassword')?.errors?.['required']"
        class="text-danger d-block position-absolute"
      >
        Senha é obrigatoria!
      </small>
    </div>

    <div class="d-grid">
      <button
        type="submit"
        [disabled]="ResetPassWordForm.invalid"
        class="btn btn-primary btn-block mb-4"
      >
        Solicitar
      </button>

      <small
        style="font-size: 15px"
        *ngIf="!passwordResult"
        class="text-danger d-block"
      >
        <div class="alert alert-danger" role="alert">
          &bull; As senhas estão diferentes!
        </div>
      </small>

      <small
        style="font-size: 15px"
        *ngIf="!passwordRegexResult"
        class="text-danger d-block mt-2"
      >
        <div class="alert alert-danger" role="alert">
          &bull; Sua senha deve conter letra maiúscula, minuscula, numero e
          caracter especial.
        </div>
      </small>

      <small
        style="font-size: 15px"
        *ngIf="SuccessReset"
        class="text-success d-block mt-2"
      >
        <div class="alert alert-success" role="alert">
          Senha alterada com sucesso!
        </div>
      </small>

      <small
        style="font-size: 15px"
        *ngIf="errResetPassword"
        class="text-danger d-block mt-2"
      >
        <div class="alert alert-danger" role="alert">
          &bull; Erro em alterar senha.
        </div>
      </small>
    </div>
  </form>
</div>
