<div class="w-100 loginScreen" style="display: grid; justify-content: center;align-items: center;">

    <form [formGroup]="solicitResetPassWordForm" class="form mt-4" (submit)="solicitResetPassword()"
        style="background-color: #ebebee;padding:25px; border-radius:10px; border-top: solid 5px #0d6efd;padding-bottom: 10px;
        ">
        <h4 class="text-center mb-4">Esqueci a senha</h4>
       
        <div class="form-group mb-4 mt-5">
            <input formControlName="email" class="form-control" placeholder="e-mail">
            <small *ngIf="solicitResetPassWordForm.get('email')?.errors?.['required']" class="text-danger d-block position-absolute">
                Insira seu e-mail!
            </small>
            <small *ngIf="solicitResetPassWordForm.get('email')?.errors?.['email']" class="text-danger d-block position-absolute">
                Formato de e-mail incorreto!
            </small>
            <p class="mt-5">Enviaremos um código de verificação a este e-mail se corresponder a uma conta.</p>
        </div>
       
        <div class="d-grid">
            <button type="submit"[disabled]="solicitResetPassWordForm.invalid" class="btn btn-primary btn-block">
                Solicitar
            </button>
            <button type="submit"  [routerLink]="['']" class="btn btn-primary btn-block mt-3 mb-2">Logar</button>

            <small style="font-size: 15px;" *ngIf="errorSolicitReset" class="text-danger d-block mt-2">
                <div class="alert alert-danger" role="alert">
                  Solicitação invalida,  e-mail incorretos.
                </div>
           </small>

           <small style="font-size: 15px;" *ngIf="successSolicitReset" class="text-success d-block mt-2">
            <div class="alert alert-success" role="alert">
                E-mail para alteração de senha enviada com sucesso.
            </div>
       </small>
        </div>

    </form>
</div>

<ng-template #content let-modal>
    <div>
      <div class="view">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            Confirmação do E-mail
          </h4>
          <button
            style="
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background-color: lightgray;
              border: none;
            "
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mb-3">
            <div style="font-size: 20px; display: inline">
              Foi enviado um
              <p style="display: inline" class="text-danger">e-mail</p>
              para {{ solicitResetPassWordForm.get("email")?.value }} para redefinição da senha.
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>